<div class="row p-3">
  <div class="col card mx-5 p-3">
    <div class="row g-0 ">
      <div class="col-md-4 align-self-center">
        <img src="assets/logo.png" class="img-fluid rounded-start png-shadow" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Pokémon, c'est quoi ?</h5>
          <p class="card-text">Pokémon, la série est le nom officiel du principal dessin animé Pokémon, longtemps connu
            sous le nom donné par les
            fans : anime Pokémon. Au Japon, la série est appelée テレビアニメ「ポケットモンスター」シリーズ(TV anime "Pocket Monsters"
            Series),
            littéralement "Pokémon" la série télévisée animée. Elle raconte l'histoire de Sacha, Dresseur de 10 ans
            originaire
            du Bourg Palette dans la région de Kanto, qui part en voyage à travers le monde avec son compagnon Pikachu
            pour
            devenir Maître Pokémon. Les voyages de Sacha sont la plupart du temps basés sur les jeux principaux de la
            licence
            Pokémon. La série compte à ce jour plus de 1100 épisodes découpés en 23 saisons réparties en huit cycles,
            ainsi
            que d'autres épisodes annexes toujours centrés sur les Pokémon. Un film sort également chaque été au Japon
            (il y
            en a donc autant que de saisons).</p>
          <p class="card-text">
            <small class="text-muted">
              <a
                href="https://eternia.fr/fr/site/article/2555-pokemon-la-serie/" target="_blank">
                Source: Eternia
              </a> - 30/05/2020
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
