<div class="row p-3">
  <div class="col card mx-5 p-3">
    <div class="row g-0 ">
      <div class="col-md-4 align-self-center">
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/tj5pe1Zg_mo" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Et ailleurs ?</h5>
          <p class="card-text">Au Québec, les quatre premières saisons ont été diffusées dans un premier temps sur la
            chaîne aujourd'hui disparue
            TQS dès 1998 ; la diffusion est désormais assurée par la chaîne Télétoon. En Belgique francophone, la série
            est
            diffusée sur Club RTL. Aujourd'hui, la série est diffusée dans 169 pays et dans plus de trente langues
            différentes. Les droits de diffusion en ligne ont été majoritairement acquis par Netflix, notamment en
            France.
            Mais le site officiel Pokemon.com et son application TV Pokémon permettent également de regarder
            gratuitement des
            épisodes de la série en basse qualité (tous les épisodes ne sont néanmoins pas disponibles au même
            moment).</p>
          <p class="card-text">
            <small class="text-muted">
              <a
                href="https://eternia.fr/fr/site/article/2555-pokemon-la-serie/" target="_blank">
                Source: Eternia
              </a> - 30/05/2020
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
