<div class="row p-3">
  <h1>L'histoire de Pokemon :</h1>
  <div class="col card mt-5 mx-5 p-3">
    <div class="row g-0 ">
      <div class="col-md-4 align-self-center">
        <img src="assets/logo.png" class="img-fluid rounded-start png-shadow" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Pokémon, c'est quoi ?</h5>
          <p class="card-text">Pokémon, la série est le nom officiel du principal dessin animé Pokémon, longtemps connu
            sous le nom donné par les
            fans : anime Pokémon. Au Japon, la série est appelée テレビアニメ「ポケットモンスター」シリーズ(TV anime "Pocket Monsters"
            Series),
            littéralement "Pokémon" la série télévisée animée. Elle raconte l'histoire de Sacha, Dresseur de 10 ans
            originaire
            du Bourg Palette dans la région de Kanto, qui part en voyage à travers le monde avec son compagnon Pikachu
            pour
            devenir Maître Pokémon. Les voyages de Sacha sont la plupart du temps basés sur les jeux principaux de la
            licence
            Pokémon. La série compte à ce jour plus de 1100 épisodes découpés en 23 saisons réparties en huit cycles,
            ainsi
            que d'autres épisodes annexes toujours centrés sur les Pokémon. Un film sort également chaque été au Japon
            (il y
            en a donc autant que de saisons).</p>
          <p class="card-text">
            <small class="text-muted">
              <a
                href="https://eternia.fr/fr/site/article/2555-pokemon-la-serie/" target="_blank">
                Source: Eternia
              </a> - 30/05/2020
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row p-3">
  <div class="col card mx-5 p-3">
    <div class="row g-0 ">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Depuis quand ça éxiste ?</h5>
          <p class="card-text">L'anime Pokémon est réalisé par le studio d'animation japonais OLM, Inc. sous la
            direction de Kunihiko Yuyama. Sa
            diffusion débute au Japon le 1er avril 1997 sur la chaîne TV Tokyo, plus d'un an après la sortie des
            versions de
            Pokémon Rouge et Pokémon Vert au pays du Soleil Levant. La série est ensuite localisée aux États-Unis par la
            société 4Kids Entertainment (qui a américanisé certaines références culturelles japonaises au passage), ce
            qui
            permet sa diffusion dès le 8 septembre 1998, soit trois semaines avant la sortie des jeux Pokémon Rouge et
            Pokémon
            Bleu aux USA. C'est sur la version éditée par 4Kids que se basera l'adaptation française, dont le premier
            passage
            à la télévision se fera sur la chaîne câblée Fox Kids le 5 septembre 1999, également pour préparer l'arrivée
            des
            deux premières versions, sorties un mois plus tard. La diffusion sur une chaîne gratuite ne commencera que
            dans
            l'émission jeunesse TF! de la chaîne TF1 le 3 janvier 2000. Aujourd'hui, ce sont les chaînes payantes Canal
            J et
            MCM, ainsi que la chaîne de la TNT Gulli, qui continuent de diffuser Pokémon à la télévision française</p>
          <p class="card-text">
            <small class="text-muted">
              <a
                href="https://eternia.fr/fr/site/article/2555-pokemon-la-serie/" target="_blank">
                Source: Eternia
              </a> - 30/05/2020
            </small>
          </p>
        </div>
      </div>
      <div class="col-md-4 align-self-center">
        <img
          src="https://cdn-s-www.ledauphine.com/images/B5EBD222-404B-4B97-A204-C18D5303A497/NW_raw/des-pokemons-de-la-premiere-generation-dr-1614337670.jpg"
          class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>
</div>
<div class="row p-3">
  <div class="col card mx-5 p-3">
    <div class="row g-0 ">
      <div class="col-md-4 align-self-center">
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/tj5pe1Zg_mo" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Et ailleurs ?</h5>
          <p class="card-text">Au Québec, les quatre premières saisons ont été diffusées dans un premier temps sur la
            chaîne aujourd'hui disparue
            TQS dès 1998 ; la diffusion est désormais assurée par la chaîne Télétoon. En Belgique francophone, la série
            est
            diffusée sur Club RTL. Aujourd'hui, la série est diffusée dans 169 pays et dans plus de trente langues
            différentes. Les droits de diffusion en ligne ont été majoritairement acquis par Netflix, notamment en
            France.
            Mais le site officiel Pokemon.com et son application TV Pokémon permettent également de regarder
            gratuitement des
            épisodes de la série en basse qualité (tous les épisodes ne sont néanmoins pas disponibles au même
            moment).</p>
          <p class="card-text">
            <small class="text-muted">
              <a
                href="https://eternia.fr/fr/site/article/2555-pokemon-la-serie/" target="_blank">
                Source: Eternia
              </a> - 30/05/2020
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
