<div class="row col" *ngIf="userIsLogged$|async">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img src="assets/logo.png" height="50">
      </a>
      <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup" [ngbCollapse]="isCollapsed">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/">Accueil</a>
          <a class="nav-link" routerLink="/histoire">Histoire</a>
        </div>
      </div>
      <button data-cy=logout-btn class="btn btn-outline-warning" type="button" (click)="logout()">Se déconnecter</button>
    </div>
  </nav>
</div>
