<section class="vh-100" style="background-color: #0367af;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <form [formGroup]="loginForm" (ngSubmit)="submit()" class="card-body p-5 text-center">
            <h3 class="mb-5">
              <img src="assets/logo.png" height="150">
            </h3>
            <div class="form-outline mb-4">
              <label class="form-label" for="typeEmailX-2">Email</label>
              <div class="input-group">
                <input data-cy="login-email-input" type="email" formControlName="email" id="typeEmailX-2"
                       class="form-control form-control-lg"
                       [ngClass]="{
                       'is-invalid': loginForm.controls['email'].invalid,
                       'is-valid': loginForm.controls['email'].valid
                       }"/>
                <div *ngIf="loginForm.controls['email'].invalid" class="invalid-feedback">
                  Veuillez renseigner un email valide
                </div>
                <div *ngIf="loginForm.controls['email'].valid" class="valid-feedback">
                  Bien joué
                </div>
              </div>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="typePasswordX-2">Password</label>
              <input data-cy="login-password-input" type="password" formControlName="password" id="typePasswordX-2"
                     class="form-control form-control-lg"/>
            </div>
            <button data-cy="login-submit-btn" [disabled]="loginForm.invalid"
                    class="btn btn-primary btn-lg btn-block"
                    type="submit">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
