<div class="row col">
  <nav class="navbar navbar-light bg-light justify-content-between p-4">
    <div class="navbar-brand">
      <img src="assets/logo.png" height="50">
    </div>
    <button class="btn btn-outline-warning" type="button" (click)="logout()">Se déconnecter</button>
  </nav>
</div>
<div class="row" data-cy="pokemon-list">
  <app-card class="col" *ngFor="let pokemon of pokemons$|async; trackBy:trackByIdentity"
            [pokemon]="pokemon"
            [selectedPokemon]="selectedPokemon"
            (selectedPokemonChanges)="handlePokemonChange($event)">
  </app-card>
</div>
